<form class="form-inline" action="/question" method="post">
  <label class="sr-only" for="inlineFormInput">Query</label>
  <input type="text" id="query" name= "query" placeholder="Enter your query...">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
