@import "../../theme/index";

.results {
  padding-top: spacer(1);

  &__question {
    font-weight: bold;
  }

  &__answer {
    color: map-fetch($color, text, medium);
    padding-top: spacer(1);
  }

  &__trash-button {
    float: right;
  }
}
