@import "../../theme/index.scss";

.wizard {
  background-color: map-fetch($color, ui, white);
  border: 1px solid map-fetch($color, ui, base);
  width: map-fetch($dialog, width, base);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: spacer(4);

  &__footer {
    margin: spacer(4) spacer(-4) spacer(-4);
    background-color: map-fetch($color, ui, faint);
    padding: spacer(4);
    display: flex;
    flex-direction: row;
    align-items: center;

    &__stepper-container {
      flex-grow: 1;
    }

    &__button-container {
      flex-grow: 0;
    }
  }
}
