<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Vendor Bundle Imports -->
    <script
      type="text/javascript"
      src="static/vendor.optimizely.t1.js">
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="static/vendor.optimizely.t1.css"
    />
</head>
  <body>
    <div id="react-root"></div>
  </body>
</html>
